
<div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
        <span class="info-box-icon bg-blue"><i class="fa fa-th"></i></span>

        <div class="info-box-content">
            <span class="info-box-text">Business Data</span>
            <span class="info-box-number">{{ total_business_data }}</span>
        </div>
        <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
        <span class="info-box-icon bg-aqua"><i class="fa fa-th"></i></span>

        <div class="info-box-content">
            <span class="info-box-text">Approved Business Data</span>
            <span class="info-box-number">{{ total_approved_business_data }}</span>
        </div>
        <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
        <span class="info-box-icon bg-yellow"><i class="fa fa-th"></i></span>

        <div class="info-box-content">
            <span class="info-box-text">Pending Business Data</span>
            <span class="info-box-number">{{ total_pending_business_data }}</span>
        </div>
        <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
        <span class="info-box-icon bg-red"><i class="fa fa-th"></i></span>

        <div class="info-box-content">
            <span class="info-box-text">Rejected Business Data</span>
            <span class="info-box-number">{{ total_rejected_business_data }}</span>
        </div>
        <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
        <span class="info-box-icon bg-yellow"><i class="fa fa-mobile-phone"></i></span>

        <div class="info-box-content">
            <span class="info-box-text">Mobile Data</span>
            <span class="info-box-number">{{ totoal_mobile_data }}</span>
        </div>
        <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
        <span class="info-box-icon bg-aqua"><i class="fa fa-user-secret"></i></span>

        <div class="info-box-content">
            <span class="info-box-text">Agents</span>
            <span class="info-box-number">{{ total_agents }}</span>
        </div>
        <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
        <span class="info-box-icon bg-green"><i class="fa fa-user-md"></i></span>

        <div class="info-box-content">
            <span class="info-box-text">GCOs</span>
            <span class="info-box-number">{{ total_gcos }}</span>
        </div>
        <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
        <span class="info-box-icon bg-yellow"><i class="fa fa-shield"></i></span>

        <div class="info-box-content">
            <span class="info-box-text">Moderators</span>
            <span class="info-box-number">{{ total_moderators }}</span>
        </div>
        <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
        <span class="info-box-icon bg-red"><i class="fa fa-unlock-alt"></i></span>

        <div class="info-box-content">
            <span class="info-box-text">Editors</span>
            <span class="info-box-number">{{ total_editors }}</span>
        </div>
        <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
</div>