{% extends 'layouts/single.html' %}

{% block 'title' %}Password Reset{% endblock %}

{% block 'css' %}
<style type="text/css">

.form-signin {
  width: 100%;
  max-width: 600px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
</style>
{% endblock %}

{% block 'content' %}
<div class="form-signin">
    <p>We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>

    <p>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
    
</div>
{% endblock %}