{% extends 'base.html' %}

{% block 'body-classes' %} hold-transition login-page {% endblock %}

{% block 'body' %}

<div class="login-box">
    <div class="login-logo">
      <a href="/"><b>Jo</b> Hukum</a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
      <p>An email will be sent to your email address with password reset link.</p>
      {% include 'partials/form_errors.html' %}
      <form method="post">
        {% csrf_token %}
        <div class="form-group has-feedback">
          <input type="text" name="email" class="form-control" placeholder="Email">
          <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>
        <div class="row">
          
          <!-- /.col -->
          <div class="col-xs-12">
            <button type="submit" class="btn btn-primary btn-block btn-flat">Send Reset Email</button>
          </div>
          <!-- /.col -->
        </div>
      </form>
  
     
      <!-- <a href="register.html" class="text-center">Register a new membership</a> -->
  
    </div>
    <!-- /.login-box-body -->
  </div>
{% endblock %}