{% extends 'base.html' %}

{% block 'body-classes' %} hold-transition login-page {% endblock %}

{% block 'body' %}

<div class="login-box">
    <div class="login-logo">
      <a href="/"><b>Jo</b> Hukum</a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
      <div class="actions" style="position:relative;right: -20px;top: -20px;">
        <form method="POST" style="position: absolute;right: 0;top: 0;">
          {% csrf_token %}
          <input type="hidden" name="reset" value="true"/>
          <button type="submit" class="btn pull-right"><i class="fa fa-times"></i></button>
        </form>

      </div>

      <p class="login-box-msg">Please Verify to modify these resources</p>

      {% include 'partials/form_errors.html' %}
      {% include 'partials/messages.html' %}
      <form method="post">
        {% csrf_token %}
          <p>Enter Your <b>Password</b> Here.</p>
          <div class="form-group has-feedback">
            <input type="password" name="password" class="form-control">
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
          </div>
          <button type="submit" class="btn btn-primary btn-flat">Verify</button>

      </form>
    </div>
  </div>
{% endblock %}
